@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#game, #restart, #alert, #newGame{
  display:none;
}
.heading{
    text-align: center;
    padding:5px;
}
.login-page {
  width: 360px;
  padding: 2% 0 0;
  margin: auto;
}
.form {
  border-radius: 9px;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background:  rgb(11, 13, 97);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: rgb(2, 4, 80);
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background-color: rgb(56, 58, 165);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  padding-top:23px;   
}

.button{
  padding:60px;
  font-size: 50px;
  font-weight: 100px;
  width:5%;
  height:6%;
  text-align:center;
  float: left;
  
}


.border-top{
  border-top:10px solid black;
}

.border-right{
  border-right:10px solid black;
}

.border-bottom{
  border-bottom:10px solid black;
}

.border-left{
  border-left:10px solid black;
}


.clear{
  clear: left;
}


.restart{
  background-color:rgb(11, 13, 97);
  padding:10px;
  font-size: 40px;
  font-weight: 200px;
  border:1px solid black;
  border-radius: 4px;
  margin: 90px 0px 34px 173px;
  text-align: center;
  color: #FFFFFF;
}


.new-game{
  background-color:rgb(11, 13, 97);
  padding:10px;
  font-size: 40px;
  font-weight: 200px;
  border:1px solid black;
  border-radius: 4px;
  margin: 110px 0px 34px 137px;
  color: #FFFFFF;
}

.new-game:hover{
  background-color:rgb(2, 4, 80);
  cursor: pointer;
}


.restart:hover{
  background-color:rgb(2, 4, 80);
  cursor: pointer;
}




.game-page{
  margin-left: 735px;
  margin-right: 869px;
  margin-top: -15px;
  width: 795px;
  
  
}


.answer {
  text-align: center;
  margin-left: -298px;
  font-size: 50px;
  font-weight: 400px;
  text-transform: uppercase;
  display:none;
}

.answer-color-yellow{
  color:rgb(252, 247, 0);
}

.answer-color-red{
  color:red;
}

.answer-color-blue{
  color:rgb(20, 219, 233);
}
.form1{
  text-align: center;
  color: rgba(51, 14, 14, 0.575);
  margin-left: -14px;
  font-size: 40px;
  font-weight: 400px;
  text-transform: uppercase;
  
}


.answer-div{
  height: 70px;
}


.alert{
  
    height: 70px;
  
}


.y-color{
  color:rgb(20, 219, 233);
}


.x-color{
  color:red;
}